<div class="post-container">
  <a href="javascript:history.back()" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Home</a>
  <h4><%= data.post.message %></h4>

  <p><span>...</span><span>read full arcticle</span></p>
</div>